<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">
        FUTB<i class="fa fa-futbol-o text-muted"></i>L
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation"
            (click)="isMenuCollapsed = !isMenuCollapsed" [attr.aria-expanded]="!isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://www.fifa.com" target="_blank">
                    <i class="fa fa-external-link"></i>
                    FIFA
                </a>
            </li>
        </ul>
        <span class="navbar-text">

            <button *ngIf="isSubscribedForNotifications === false" type="button" class="btn btn-success"
                    [disabled]="isChangingNotificationState"
                    (click)="enableNotifications()">
                <i class="fa fa-bell"></i> Enable
            </button>

            <button *ngIf="isSubscribedForNotifications === true" type="button" class="btn btn-secondary"
                    [disabled]="isChangingNotificationState"
                    (click)="disableNotifications()">
                <i class="fa fa-bell-slash"></i> Disable
            </button>
        </span>
    </div>
</nav>
