<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">
        FUTB<i class="fa fa-futbol-o text-muted"></i>L
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" routerLink="/foos" routerLinkActive="active">-->
            <!--<i class="fa fa-dashboard"></i>-->
            <!--Foos-->
            <!--</a>-->
            <!--</li>-->
        </ul>
        <span class="navbar-text">

            <button *ngIf="areNotifsGranted === false" type="button" class="btn btn-success"
                    (click)="enableNotifications()">
                <i class="fa fa-bell"></i> Enable
            </button>

            <button *ngIf="areNotifsGranted === true" type="button" class="btn btn-secondary"
                    (click)="disableNotifications()">
                <i class="fa fa-bell-slash"></i> Disable
            </button>
        </span>
    </div>
</nav>
